@import "reset";

body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color: #0e0e0e;
}

#container {
    height: 100vh; //Probando para cards
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #chart {
        width: 100%;
        max-width: 380px;

        //Ordenación de minigráficos
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        justify-content: center;
        align-content: center;

        svg {
            margin-bottom: 60px;
        }
    }
}

@media only screen and (max-width: 767px) {
    #container {
        #chart {
            margin-bottom: 35px;
            svg {
                margin-bottom: 15px;
            }
        }
    }    
}

@media only screen and (max-width: 420px) {
    #container {
        justify-content: flex-start;
        #chart {
            margin: 20px auto 10px auto;
        }
    }    
}